In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
data = pd.read_csv('play.csv')

In [ ]:
data.head()

     sky  temp   humid    wind water forcast play
0  sunny  warm  normal  strong  warm    same  yes
1  sunny  warm    high  strong  warm    same  yes
2  rainy  cold    high  strong  warm    same   no
3  sunny  warm    high  strong  cool  change  yes

In [ ]:
concept = np.array(data)[:,:-1] 
target = np.array(data)[:,-1]

In [ ]:
def train(tar,con): 
    for i,val in enumerate(tar): 
        if val =='yes': 
            specific = con[i].copy() 
        break
    for i,val in enumerate(con): 
        if tar[i] =='yes': 
            for x in range(len(specific)): 
                if val[x] != specific[x]: 
                    specific[x] = '?' 
                else: 
                    pass 
        print("specific [",(i+1),"]:",str(specific)) 
    return specific
print(train(target,concept))

specific [ 1 ]: ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
specific [ 2 ]: ['sunny' 'warm' '?' 'strong' 'warm' 'same']
specific [ 3 ]: ['sunny' 'warm' '?' 'strong' 'warm' 'same']
specific [ 4 ]: ['sunny' 'warm' '?' 'strong' '?' '?']
['sunny' 'warm' '?' 'strong' '?' '?']